body {
    background: #2b3035;
}

.nav-profile {
    text-align: center;
}

.navbar-nav {
    padding-right: 0!important;
}

.fa-user {
    color: #FFF;
}

.card-footer {
    color: #FFF!important;
}

.card-header {
    font-size: 24px;
    padding-left: 0;
    padding-top: 0;
    padding-bottom: 12px;
}